.cocina{
  background-color: #f0f0f0;
  padding: 20px;
  margin: 20px;
  border: 4px solid #333;
  border-radius: 8px;
  text-align: center;
}

.cocina__titulo{
  font-size: 36px;
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.cocina__descripcion{
  font-size: 18px;
  margin-bottom: 15px;
  font-family: 'Arial', sans-serif;
  color: #666;
}

.cocina__item{
  font-size: 16px;
  margin: 5px;
  font-family: 'Arial', sans-serif;
  color: #555;
}


