.sala{
  background-color: #8df1b7;
  padding: 20px;
  margin: 20px;
  border: 4px solid #9589f0;
  border-radius: 8px;
  text-align: center;
}

.sala__titulo{
  font-size: 36px;
  margin-bottom: 10px;
  font-family: fantasy;
  color: #75344c;
}

.sala__descripcion{
  font-size: 18px;
  margin-bottom: 15px;
  font-family: 'Arial', sans-serif;
  color: #85623d;
}

.sala__item{
  font-size: 16px;
  margin: 5px;
  font-family: fantasy;
  color: #e16969;
}
